
<style>
  body, div {
    margin: 0;
    padding: 0;
  }
  h1 { 
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
                font-size: 14pt;
         }
  h2 {
    font-size: 12pt;
    margin-bottom: .5em;
   font-style: italic;
 }
  
</style>



<div id="info_letter_content" class="instructions" style="width: 500px; margin-top: 1em;margin-left:auto;margin-right:auto;text-align:left; padding:15px; border:1px; border-style: dashed; background-color:#eee;color:#000;border-color:#333;">


    
<center>
<p>
<b>INFORMATION SHEET</b>
</p>

<p><b>Social Diffusion in Online Media for Reaching Hidden Communities and
Underrepresented Groups</b></p>

<b>Principal Investigator:</b> Vince Silenzio, MD, MPH<br/>
<b>Co-Investigator:</b> Christopher Homan, PhD (Rochester Institute of Technology)<br/>
<b>Co-Investigator:</b> Randall Sell, ScD (Drexel University)</br>
</center>
<p>
This form describes a research study that is being conducted by Dr. Vincent Silenzio, from the University of Rochester’s Departments of Psychiatry, Public Health Sciences, and Family Medicine, in collaboration with Drs. Christopher Homan (of the Rochester Institute of Technology’s Computer Science Department), and Randall Sell (of Drexel University’s Department of Community Health and Prevention).
</p><p>
The purpose of this study is intended to show that online social networks such as Facebook can be used to assess health. At the end of the survey, you will have the chance to ask friends who you think would be eligible for this study and who would be willing to participate. Up to three of your friends will be able to participate.
</p><p>
If you decide to take part in this study, you will be asked to complete a brief survey that will take about 10 minutes to complete. The survey will ask questions about your health habits. We estimate that approximately 1,500 men will take part in this study.
</p><p>
Some of the survey questions may be upsetting or make you feel uncomfortable. You can skip any of the questions you do not want to answer. Because this study involves collecting personal, identifiable information about you, there is a potential for invasion of privacy or breach in confidentiality. To minimize this risk, we will not store any directly identifiable information about you with your survey responses. All of the information we collect will be stored in a secure manner and only study team members will have access to it. There are no other expected risks. There are also no expected benefits.
</p><p>
The University of Rochester is receiving payment from the National Science Foundation for conducting this research study.
</p><p>
You will receive $5 in online credit at Amazon.com for completing the survey. You can also earn more Amazon.com credit when you refer friends who complete the survey. For each of up to a limit of three Facebook friends who completes the survey before the end of the study, you will receive an additional $5 in Amazon.com credit, up to a total of $15. When added to the $5 credit you receive for finishing your own survey, you may receive an overall total of between $5 and $20 in credit you can use as you please at the Amazon.com store. There will be no cost to you to participate in this study.
</p><p>
The University of Rochester makes every effort to keep the information collected from you private. In order to do so, we are using a secure online connection to minimize any risk to your privacy from unauthorized parties (e.g. computer hackers). While we are taking steps to prevent it from occurring, you should be aware that there is a small possibility that responses could be viewed by unauthorized parties because your responses are being communicated over the web and stored on a web server. Sometimes, however, researchers need to share information that may identify you with people that work for the University, regulators or the study sponsor. If this does happen we will take precautions to protect the information you have provided. Results of the research may be presented at meetings or in publications, but your name will not be used.
</p>

<p>
<b>Your participation in this study is completely voluntary.</b> You are free not to participate or to withdraw at any time, for whatever reason. No matter what decision you make, there will be no penalty or loss of benefits to which you are otherwise entitled.
</p><p>
<b>More Information:</b> For more information or questions about this research you may call Dr. Vince Silenzio at (585) 275-6069. Please contact the University of Rochester Research Subjects Review Board at 265 Crittenden Blvd., CU 420315, Rochester, NY 14642, Telephone (585) 276-0005 or (877) 449-4441 for the following reasons:
</p>
<ul>
<li>You wish to talk to someone other than the research staff about
  your rights as a research subject;</li>
<li>To voice concerns about the research;</li>
<li>To provide input concerning the research process;</li>
<li>In the event the study staff could not be reached.</li>
</ul>

</div>
