<div style="margin-top: 2em;">


<p><%= link_to 'Click here to take the survey', action: "info_letter" %></p>
<p>Make an important contribution to gay and
    bisexual men's health!</p>
<p>Recruit your friends</p>
 <p>Earn up to $20</p>
<p>

If you're male, 18 years or older, and have an active Facebook account, you may be eligible to take the survey.</p>

<h1><%= @hello_controller %></h1>

</div>
