You are trying to login using the incorrect coupon

<blockquote>
<b><%= @wrong_url %></b>
</blockquote>

Below is the coupon you originally used, please use it by clicking on it.

<blockquote>
<a href ="<%= @original_url %>"><%=@original_url %></a>
</blockquote>
