<div class="content" id="recruit" style="margin-left: 3em; margin-right: 3em;color: #666666;">


<div id="links" style="text-align:right;"> 
<a id="toquestions" href="#">Questions?</a> 
</div>

<p>
 <b>Thank you!</b> You have <b>earned
 $5</b> in Amazon.com credit. We will send you an email with
 instructions on how to use it.
</p>
<p><b>We still need your help!</b> We will <b>pay you up to
 $5</b> more for <b>each</b> of up to 3 Facebook friends you recruit to take the survey. They must be 18 years of age or older, male, and identify as gay or bisexual.
</p>


<p>
We have found that for best results, you should <b>approach your
  friends as directly as possible</b>: in person, by phone, by email, or
  with a <a href="#" id="fb-invite">Facebook message</a>. Here is a <b>sample message</b> you could
  send.

 
<div id="info_letter_content" class="instructions" style="width: 500px; margin-top: 1em;margin-left:auto;margin-right:auto;text-align:left; padding:15px; border:1px; border-style: dashed; background-color:#eee;color:#000;border-color:#333;font-family:'Times New Roman',Georgia,Serif;color:#000000;font-size:11pt">
<p>
  I just took a survey that will help to better understand the health
  concerns of gay men.  I earned $5 for completing the survey and will
  earn $5 for each of the first three friends of mine who complete
  it. You will earn $5 in Amazon credit if you take the survey and
  maybe additional credit by recruiting others to take it. If you would like to complete the survey please go to:
</p>
<p>
<a href ="<%= @invitation_url %>"><span style="font-size: 10pt;font-weight:normal;"><%=@invitation_url %></span></a>
</p>
<p>
Thank you!

</div>

<p> We have found that using your <b>own words</b> is usually more
  effective. So be creative if you like. The only necessary part is
  that your friend must use the
  URL in the sample, i.e.,</p>
<p>
<a href ="<%= @invitation_url %>"><span style="font-size: 10pt;font-weight:normal;"><%=@invitation_url %></span></a>
</p>
<p>
otherwise, we cannot pay you $5 for your referral.
</p>
</dev>
