<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Survey</title>
  <%= surveyor_includes %>

  <script>
    divi = function() {
        var total_male_facebook_friends = parseFloat($("#male_facebook_friends").text());
        var estimated_gb = parseFloat($("#q_estimate_total_facebook_gb_men").parents(".q_default").find(".integer").val());
        var percent_gb = Math.round(estimated_gb / total_male_facebook_friends * 100);

        if (isNaN(percent_gb)) {
          $("#estimated_percent_of_gb_friends").text("...");
        }
        else {
          $("#estimated_percent_of_gb_friends").text(percent_gb);
        }
      }
    $(function() {
      $("#q_estimate_total_men").parents(".q_default").find(".integer").keyup(function() {
        $("#a_estimate_total_men").text($("#q_estimate_total_men").parents(".q_default").find(".integer").val());
      });

      $("#q_estimate_total_facebook_gb_men").parents(".q_default").find(".integer").keyup(divi);

     // $("#q_estimate_total_facebook_gb_men").parents(".q_default").find(".integer").change(divi);

      if ($("#male_facebook_friends")) {
        $.getJSON("<%= url_for :controller => 'facebook', :action => 'total_male_friends' %>", function(data) {
          $("#male_facebook_friends").text(data["total_male_friends"]);
          divi();

        });

      }
      
    });

  </script>
<style>
#surveyor {
  background-color: white;
}

legend {
  font-size: 15px;
}

#surveyor-blah {
  font-family: font-family 'times new roman',tahoma,verdana,arial,sans-serif;
}

#surveyor fieldset {
  font-size: 15px;
  color: rgb(51,51,51);
}

#surveyor fieldset.q_default, fieldset.g_inline, fieldset.g_grid {
  /*
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(233,233,233);
  */

  margin-top: 14px;
  padding-top: 8px;
  padding-bottom: 16px;
}

#surveyor fieldset.choices {
  padding-top: 0px;
  margin-bottom: 5px;
}

#surveyor legend {
  line-height: 18px;
}

/*  These CSS3 selectors may not be supported by some browsers */
#surveyor input[type=checkbox],input[type=radio] {
  margin-top: 2px;
}


/* CSS styles NOT copied from Facebook: */

#surveyor fieldset > ol {
  /*  Facebook uses blue-green, but not this precise shade of blue-green  */
  /* background-color: rgb(245,247,255); */

  margin-left: 1em;
  padding-left: 0.5em;
  padding-right: 1em;
}

span {
  width:auto
}

#surveyor {
    white-space:normal;
    width: auto;
}

legend {
  display: inline; 
}

/* Hide survey name */
#surveyor div.surveyor_flash {
    display: none;
}

/* Hide menu showing survey sections */
#surveyor div.surveyor_menu {
    display: none;
}

/* Buttons to move to next survey section are left-aligned */
#surveyor div.next_section {
    float: left;
}

/* Background color for dependent questions is white instead of yellow */
#surveyor fieldset.q_dependent, fieldset.g_dependent {
    background-color: white;
}
#surveyor fieldset.q_dependent > legend, fieldset.g_dependent > legend  {
    background-color: white;
}

/* Hide question numbers */
#surveyor span.qnum {
    display: none;
}

/* Form fields for integers will be right-aligned */
#surveyor input.integer {
    text-align: right;
    width: 6em;
}
</style>

</head>
<body>
  <%= yield %>
</body>
</html>
